<%- include('partials/nav') %>
<div class="h-screen m-10">
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="border-b">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Income
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Expense
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Currency
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Date
                                </th>
                                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                    Time
                                </th>
                            </tr>
                        </thead>
                        <!-- FORM STARTS HERE -->
                        <form action="/dataentry" method="post">
                            <tbody>
                                <tr class="border-b">
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <input type="text" name="income" id="income" class="rounded-md">
                                        <p>Leave empty for none</p>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <input type="text" name="expense" id="expense" class="rounded-md">
                                        <p>Leave empty for none</p>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <!-- <label for="currency">Currency</label> -->
                                        <select name="currency" id="currency" name="currency" class="w-16 font-bold font-montserrat border-0 p-2">
                                            <option value="$">$</option>
                                            <option value="E">E</option>
                                        </select>
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <input type="date" id="date" name="date" class="rounded-md">
                                    </td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        <input type="time" id="time" name="time" class="rounded-md">
                                    </td>

                                </tr>
                                <% data.forEach(function(oneD){ %>

                                <tr class="bg-white border-b">
                                        <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap font-semibold">
                                            <%= oneD.income %>
                                        </td>
                                        <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap font-semibold">
                                            <%= oneD.expense %>
                                        </td>
                                        <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap font-semibold">
                                            <%= oneD.currency %>
                                        </td>
                                        <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap font-semibold">
                                            <%= oneD.date %>
                                        </td>
                                        <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap font-semibold">
                                            <%= oneD.time %>
                                        </td>
                                </tr>
                                <% }); %>

                            </tbody>
                            <button type="submit"
                                class="mb-2 w-full inline-block px-6 py-2.5 bg-green-500 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Submit</button>

                        </form>
                        <!-- FORM ENDS HERE -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/foot') %>